{% extends 'admin_commonfile.html' %}

{% block title %}Admin Login{% endblock %}

{% block content %}
<div class="container">
    <h2>Admin Login</h2>
    <form action="/adminlogin" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Login">
        <a href="{{ url_for('home') }}">Go to MainPage</a>

    </form>
</div>
{% endblock %}
